<p-dialog
  header="Update Delivery Cost"
  [closable]="true"
  [modal]="true"
  [style]="{'width': '400px'}"
  [visible]="visible()"
  (onHide)="close()"
>
  <form class="delivery-cost-form" [formGroup]="deliveryCostForm">
    <div class="form-field">
      <label for="deliveryCost">Delivery Cost</label>
      <p-inputNumber
        id="deliveryCost"
        placeholder="Enter delivery cost"
        suffix=" GHS"
        [formControl]="deliveryCostForm.controls.deliveryCost"
        [min]="0"
      />
      <small class="field-hint">Enter the delivery cost for this sale</small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      severity="secondary"
      [outlined]="true"
      (onClick)="close()"
    />
    <p-button
      icon="pi pi-check"
      label="Update Cost"
      severity="primary"
      [loading]="loading()"
      (onClick)="onSubmit()"
    />
  </ng-template>
</p-dialog>
